.row, .hdr { *zoom: 1; }
.row:before, .hdr:before, .row:after, .hdr:after { content: " "; display: table; }
.row:after, .hdr:after { clear: both; }

* { -webkit-transition: .3s all; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Montserrat, Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: #f6f6f6; }

a img, fieldset { border: none; }

.l-case { margin: 0 auto; max-width: 960px; padding: 0 2%; }

.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 { float: left; margin-left: 1%; }
.row .span1 { width: 7.41667%; }
.row .span2 { width: 15.83333%; }
.row .span2 .span1 { margin-left: 6.31579%; width: 46.84211%; }
.row .span3 { width: 24.25%; }
.row .span3 .span1 { margin-left: 4.12371%; width: 30.58419%; }
.row .span3 .span2 { margin-left: 4.12371%; width: 65.2921%; }
.row .span4 { width: 32.66667%; }
.row .span4 .span1 { margin-left: 3.06122%; width: 22.70408%; }
.row .span4 .span2 { margin-left: 3.06122%; width: 48.46939%; }
.row .span4 .span3 { margin-left: 3.06122%; width: 74.23469%; }
.row .span5 { width: 41.08333%; }
.row .span5 .span1 { margin-left: 2.43408%; width: 18.05274%; }
.row .span5 .span2 { margin-left: 2.43408%; width: 38.53955%; }
.row .span5 .span3 { margin-left: 2.43408%; width: 59.02637%; }
.row .span5 .span4 { margin-left: 2.43408%; width: 79.51318%; }
.row .span6 { width: 49.5%; }
.row .span6 .span1 { margin-left: 2.0202%; width: 14.98316%; }
.row .span6 .span2 { margin-left: 2.0202%; width: 31.98653%; }
.row .span6 .span3 { margin-left: 2.0202%; width: 48.9899%; }
.row .span6 .span4 { margin-left: 2.0202%; width: 65.99327%; }
.row .span6 .span5 { margin-left: 2.0202%; width: 82.99663%; }
.row .span7 { width: 57.91667%; }
.row .span7 .span1 { margin-left: 1.72662%; width: 12.80576%; }
.row .span7 .span2 { margin-left: 1.72662%; width: 27.33813%; }
.row .span7 .span3 { margin-left: 1.72662%; width: 41.8705%; }
.row .span7 .span4 { margin-left: 1.72662%; width: 56.40288%; }
.row .span7 .span5 { margin-left: 1.72662%; width: 70.93525%; }
.row .span7 .span6 { margin-left: 1.72662%; width: 85.46763%; }
.row .span8 { width: 66.33333%; }
.row .span8 .span1 { margin-left: 1.50754%; width: 11.1809%; }
.row .span8 .span2 { margin-left: 1.50754%; width: 23.86935%; }
.row .span8 .span3 { margin-left: 1.50754%; width: 36.55779%; }
.row .span8 .span4 { margin-left: 1.50754%; width: 49.24623%; }
.row .span8 .span5 { margin-left: 1.50754%; width: 61.93467%; }
.row .span8 .span6 { margin-left: 1.50754%; width: 74.62312%; }
.row .span8 .span7 { margin-left: 1.50754%; width: 87.31156%; }
.row .span9 { width: 74.75%; }
.row .span9 .span1 { margin-left: 1.33779%; width: 9.92196%; }
.row .span9 .span2 { margin-left: 1.33779%; width: 21.18172%; }
.row .span9 .span3 { margin-left: 1.33779%; width: 32.44147%; }
.row .span9 .span4 { margin-left: 1.33779%; width: 43.70123%; }
.row .span9 .span5 { margin-left: 1.33779%; width: 54.96098%; }
.row .span9 .span6 { margin-left: 1.33779%; width: 66.22074%; }
.row .span9 .span7 { margin-left: 1.33779%; width: 77.48049%; }
.row .span9 .span8 { margin-left: 1.33779%; width: 88.74025%; }
.row .span10 { width: 83.16667%; }
.row .span10 .span1 { margin-left: 1.2024%; width: 8.91784%; }
.row .span10 .span2 { margin-left: 1.2024%; width: 19.03808%; }
.row .span10 .span3 { margin-left: 1.2024%; width: 29.15832%; }
.row .span10 .span4 { margin-left: 1.2024%; width: 39.27856%; }
.row .span10 .span5 { margin-left: 1.2024%; width: 49.3988%; }
.row .span10 .span6 { margin-left: 1.2024%; width: 59.51904%; }
.row .span10 .span7 { margin-left: 1.2024%; width: 69.63928%; }
.row .span10 .span8 { margin-left: 1.2024%; width: 79.75952%; }
.row .span10 .span9 { margin-left: 1.2024%; width: 89.87976%; }
.row .span11 { width: 91.58333%; }
.row .span11 .span1 { margin-left: 1.0919%; width: 8.09827%; }
.row .span11 .span2 { margin-left: 1.0919%; width: 17.28844%; }
.row .span11 .span3 { margin-left: 1.0919%; width: 26.47862%; }
.row .span11 .span4 { margin-left: 1.0919%; width: 35.66879%; }
.row .span11 .span5 { margin-left: 1.0919%; width: 44.85896%; }
.row .span11 .span6 { margin-left: 1.0919%; width: 54.04914%; }
.row .span11 .span7 { margin-left: 1.0919%; width: 63.23931%; }
.row .span11 .span8 { margin-left: 1.0919%; width: 72.42948%; }
.row .span11 .span9 { margin-left: 1.0919%; width: 81.61965%; }
.row .span11 .span10 { margin-left: 1.0919%; width: 90.80983%; }
.row .span12 { width: 100%; }
.row .span12 .span1 { margin-left: 1%; width: 7.41667%; }
.row .span12 .span2 { margin-left: 1%; width: 15.83333%; }
.row .span12 .span3 { margin-left: 1%; width: 24.25%; }
.row .span12 .span4 { margin-left: 1%; width: 32.66667%; }
.row .span12 .span5 { margin-left: 1%; width: 41.08333%; }
.row .span12 .span6 { margin-left: 1%; width: 49.5%; }
.row .span12 .span7 { margin-left: 1%; width: 57.91667%; }
.row .span12 .span8 { margin-left: 1%; width: 66.33333%; }
.row .span12 .span9 { margin-left: 1%; width: 74.75%; }
.row .span12 .span10 { margin-left: 1%; width: 83.16667%; }
.row .span12 .span11 { margin-left: 1%; width: 91.58333%; }
.row > :first-child, .row .row > :first-child { margin-left: 0; }

@font-face { font-family: 'Quicksandbold'; src: url("fonts/quicksand-bold-webfont.eot"); src: url("fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/quicksand-bold-webfont.woff") format("woff"), url("fonts/quicksand-bold-webfont.ttf") format("truetype"), url("fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg"); font-weight: normal; font-style: normal; }

.g-orange { color: #f26c4f !important; }

/* ==== [ icons ] ==== */
.ico { display: inline-block; vertical-align: top; }

.ico_pencil { background: url('../img/icons-s4c611bcbbc.png') 0 -101px no-repeat; width: 24px; height: 24px; }

.ico_cog { background: url('../img/icons-s4c611bcbbc.png') 0 0 no-repeat; width: 25px; height: 26px; }

.ico_camera { background: url('../img/icons-s4c611bcbbc.png') 0 -67px no-repeat; width: 29px; height: 24px; }

.glyph-ico { font: 24px "Quicksandbold" sans-serif; text-decoration: none !important; color: #555; }

.glyph-ico_disabled { color: #959595; }

.glyph-ico_big { font-size: 60px; }

/* ==== [ hdr ] ==== */
.hdr { background: #353c3e; }
.hdr .hdr__slogan { font-size: 13px; text-align: right; margin-top: 35px; color: #959595; }

/* ==== [ logo ] ==== */
.logo { margin-bottom: -4px; }
.logo .logo__body { position: relative; display: inline-block; vertical-align: top; height: 82px; width: 74px; margin-right: 15px; background: #f26c4f; border-bottom: 2px solid #d04e33; }
.logo .logo__body .ico { position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -12px; }
.logo .logo__ttl { font-size: 24px; font-weight: bold; display: inline-block; vertical-align: top; margin-top: 24px; text-transform: uppercase; color: white; }

/* ==== [ menu ] ==== */
.menu { margin-bottom: 75px; background: #40494c; border-bottom: 2px solid #040505; }
.menu .menu__list-holder { position: relative; white-space: nowrap; }
.menu .menu__list-holder:after { content: ''; display: inline-block; min-height: 62px; height: 100%; width: 1px; overflow: hidden; margin: 0 0 0 -5px; vertical-align: middle; }
.menu .menu__list { display: inline-block; vertical-align: middle; list-style: none; white-space: normal; }
.menu .menu__list-item { font-size: 13px; display: inline-block; vertical-align: top; margin-right: 23px; text-transform: uppercase; }
.menu .menu__list-item a { text-decoration: none; color: #717b7e; }
.menu .menu__list-item a:hover, .menu .menu__list-item a.is-active { color: white; }

/* ==== [ input ] ==== */
.input-i { position: relative; display: block; }
.input-i .input { font-size: 13px; position: relative; width: 100%; padding: 23px 20px; color: white; background: #3c4345; border: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; outline: 0; }
.input-i .input:-moz-placeholder { color: #717b7e; }
.input-i .input::-webkit-input-placeholder { color: #717b7e; }

.input-search { margin-bottom: -4px; }
.row .input-search { float: right; }
.input-search:after { content: ""; position: absolute; top: 20px; right: 26px; background: url('../img/icons-s4c611bcbbc.png') 0 -36px no-repeat; width: 26px; height: 21px; }

.submit { display: block; appearance: none; opacity: 0; height: 0; width: 0; }

/* ==== [ text block ] ==== */
.textblock { margin-bottom: 63px; }
.textblock .textblock__ttl { font-size: 24px; line-height: 45px; margin-bottom: 9px; text-align: center; color: #777; }
.textblock .textblock__desc { font-size: 12px; line-height: 25px; float: none; margin: 0 auto; color: #ccc; }

/* ==== [ Columns ] ==== */
.columns { margin-bottom: 58px; }
.columns .columns__nav { float: right; margin-top: -51px; }
.columns .columns__nav .glyph-ico { margin: 0 2px 0 0; }

/* ==== [ Post block ] ==== */
.post { position: relative; padding: 0 0 27px; background: white; border-bottom: 2px solid #eaeaea; }
.post .post__img { margin-bottom: 27px; border-bottom: 2px solid #ee4420; }
.post .post__img img { display: block; width: 100%; }
.post .post__body { float: none; margin: 0 auto; min-height: 220px; }
.post .post__ttl { font-size: 16px; margin-bottom: 6px; text-transform: uppercase; color: #f26c4f; }
.post p { font-size: 12px; line-height: 21px; color: #8f8f8f; }
.post .post__solid { position: absolute; top: 0; bottom: -2px; left: 100%; width: 100%; }
.post .post__solid .ico { position: absolute; top: 50%; left: 50%; }
.post .post__solid .ico_cog { margin: -12px 0 0 -13px; }
.post .post__solid .ico_camera { margin: -14px 0 0 -12px; }
.post .post__solid_orange { background: #f26c4f; border-bottom: 2px solid #ee4420; }
.post .post__solid_black { background: #353c3e; border-bottom: 2px solid #1d2123; }

.post_empty { background: none; border: 0; }
.post_empty .post__ttl { color: #353c3e; }

.post_short { min-height: 180px; width: 50%; padding-top: 39px; }
.post_short .post__ttl { text-transform: none; }
.post_short .post__body { min-height: 0; }

/* ==== [ footer ] ==== */
.ftr { position: relative; padding-bottom: 30px; margin-top: 30px; text-align: right; }
.columns + .ftr { margin-top: -17px; }
.ftr .ftr__ttl { margin-bottom: 18px; color: #777; }
.ftr .ftr__txt { line-height: 20px; color: #bebebe; }
.ftr .ftr__body { float: right; }

/* ==== [ slider ] ==== */
.slider { margin: -53px 0 30px; }
.slider .l-case { position: relative; }
.slider .slider__inner { position: relative; z-index: 1; }
.slider .slider__slide { overflow: hidden; }
.slider .slider__slide img { display: block; max-width: 100%; height: auto !important; }
.slider .slider__txt { position: absolute; top: 50%; left: 50%; border: 20px solid #f6f6f6; background: white; border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slider .slider__txt-inner { float: none; margin: 0 auto; }
.slider .slider__ttl { font-size: 51px; font-weight: bold; line-height: 43px; color: #464646; }
.slider .slider__desc { font-size: 13px; line-height: 22px; color: #959595; }
.slider .slider__nav-left, .slider .slider__nav-right { position: absolute; z-index: 2; top: 0; bottom: 0; left: 0%; width: 33%; text-decoration: none; cursor: pointer; }
.slider .slider__nav-left .glyph-ico, .slider .slider__nav-right .glyph-ico { position: absolute; top: 50%; left: 0; margin-top: -21px; margin-left: -46px; }
@media screen and (max-width: 1115px) { .slider .slider__nav-left .glyph-ico, .slider .slider__nav-right .glyph-ico { margin-left: 40px; } }
.slider .slider__nav-right { left: auto; right: 0; }
.slider .slider__nav-right .glyph-ico { left: auto; right: 0; margin-left: 0; margin-right: -46px; }
@media screen and (max-width: 1115px) { .slider .slider__nav-right .glyph-ico { margin-right: 40px; } }
